<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-messaging.js"></script>


<script>

    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
  
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyCVDz_TkGY-Idf19AqAGIT6JcPLyICqhpY",
      authDomain: "deliverese-50037.firebaseapp.com",
      projectId: "deliverese-50037",
      storageBucket: "deliverese-50037.appspot.com",
      messagingSenderId: "567277528482",
      appId: "1:567277528482:web:efeeb054117440d18bfefb"
    };
  
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
  </script>
